# 1- PREAMBULE

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import calendar
from dateutil.relativedelta import relativedelta
from unidecode import unidecode # to remove accents in strings

# 2-NUMBER OF EMPLOYEES DATA: importing and cleanning data

In [2]:
def f_employ(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month=[];year=[];days_length=[]
        for i in ddates:#dd.Date.tolist():
            month.append(Sdate[i[0:3]])
            year.append(int(i[-4:]))

        days_length=[];date=[]
        for j in range(0,len(month)):
            days_length.append(calendar.monthrange(year[j],month[j])[1])
            date.append(datetime(year[j],month[j],days_length[j]).strftime('%Y-%m-%d'))

        return date
    df.Date=date_identify()
    
    return df

In [3]:
def f_employ2(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
            if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
                month_end.append(Sdate[i])
                year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01'    
        date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_end.tolist()
        #date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        period=pd.date_range(date_first,date_end,freq='Q').tolist()
        period.append(period[len(period)-1]+relativedelta(months=3))
        return period
    df.Date=date_identify()
    return df#ate_end#[0]+relativedelta(months=1)

In [4]:
def f_employ3(x): # function to import and clean data
    df=pd.read_excel(x,sheet_name='employés')
    #date=[];ddates=[]
    def col_names(df): # look for the number of line with the names of the banks to be columns names
        y=[];z=[];
        for i in range(0,(df.shape[0]-1)):
            if 'BNC' in df.loc[i:(i+1),:].values:
                y=df.loc[i:(i+1),:].values.tolist()[0]
                z=i+1
                #break
        # add Date as name of column with the dates
        df.columns=['Date']+y[1:]#df_employ.columns[1:].tolist()
        df=df.iloc[z:,:]
        return df
    df=col_names(df)

    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    ###############
    date=[];ddates=[]
    def date_identify():
        ddates=df.Date.tolist()
        Sdate=pd.Series([3,6,9,12],index=['Mar','Jui','Sep','Déc'])
        month_first=[];year_first=[];month_end=[];year_end=[]
        for i in range(0,len(Sdate)):             # find the number of the months for first row of data
            if Sdate.index[i]==ddates[0][0:3]: 
                month_first.append(Sdate[i])
                year_first.append(ddates[0][-4:])
           # if Sdate.index[i]==ddates[len(ddates)-1][0:3]:
            #    month_end.append(Sdate[i])
             #   year_end.append(ddates[len(ddates)-1][-4:])
        date_first=year_first[0]+'-'+str(month_first[0])+'-'+'01' # build first observation date as YYYY-mm-dd
        date_first=datetime.strptime(date_first,'%Y-%m-%d') # convert date to timedate type
        date_range=[date_first]
        for i in range(0,df.shape[0]-1):
            date_range.append(date_range[i]+relativedelta(months=3))
        #date_end=year_end[0]+'-'+str(month_end[0])+'-'+'01'
        #date_end=date_first
        ##date_end=date_end.tolist()
        ##date_end=date_end[len(date_end)-1]+relativedelta(months=3)
        #period=pd.date_range(date_first,date_end,freq='Q').tolist()
        #period.append(period[len(period)-1]+relativedelta(months=3))
        return date_range#period
    df.Date=date_identify()
    return df#date_identify()#ate_end#[0]+relativedelta(months=1)

### Arranging cleanning data in three columns: Date,Banks, Indicator

In [5]:
def group_data(x,fun): # function to group data of a variable by bank
    df=fun(x)          # x is a data frame of and indicator, where the dates are in the first column and each bank is a column of the indicator
    dfs=df.columns[1:] # list of columns, except the dates
    date=[];values=[];banks=[]
    for d in range(0,len(dfs)):
        date.append(df.Date)
        values.append((df[dfs[d]]))
        banks.append([dfs[d]]*df.shape[0])
    def flatten_list(x): # function to flatten a list of lists to 
        y=[]
        for i in x:
            for j in i:
                y.append(j)
        return y
    date=flatten_list(date)
    values=flatten_list(values)
    banks=flatten_list(banks)
    df=pd.DataFrame({'Date':date,'Banks':banks,'Indicator':values})
    return df

### Creating the list of Excel files containing the reports

In [6]:
# list of Excel files names
df_files=pd.read_csv('BRH_ExcelFiles.csv')
filesList=df_files.x.tolist()
filesList[0:5]  # show the first five files names

['trim_1_2022.xlsx',
 'trim_1_2019.xls',
 'trim_1_2020.xls',
 'trim_1_2021.xlsx',
 'trim_2_2019.xls']

### A Function to import and combine data

In this section all data related to the number of employees are imported and combined in one data frame named *df_employees*.

In [7]:
def f_combine(x,fun): # x is the list of files names; fun is the function that import and clean data
    df=pd.DataFrame(columns=['Date','Banks','Indicator'])
    for file in x:
        df=pd.merge(df,group_data(file,fun),how='outer')
    return df

In [483]:
df_employees=f_combine(filesList,fun=f_employ3)

In [9]:
df_employees

### Remove duplicated data, using Date column

In [485]:
df_employees1=df_employees.drop_duplicates(subset=["Date", "Banks"])

In [486]:
(df_employees.shape,df_employees1.shape) # compare the dimension of the old and the new data frame

((2007, 3), (1850, 3))

In [487]:
df_employees1

           Date   Banks Indicator
0    2014-12-01     BNC     647.0
1    2015-03-01     BNC     638.0
2    2015-06-01     BNC     636.0
3    2015-09-01     BNC     623.0
4    2015-12-01     BNC     704.0
...         ...     ...       ...
1969 1998-06-01  SOGEBL        61
1970 1998-06-01     BHD        33
1971 1998-06-01    CBNA        65
1972 1998-06-01  SCOTIA        90
1973 1998-06-01   TOTAL      3077

[1850 rows x 3 columns]

### Saving data in CSV files

In [488]:
df_employees.to_csv('BanksEmployees_all.csv',date_format='%Y-%m-%d',index=False)                 # file of all data, including duplicates

In [489]:
df_employees1.to_csv('BanksEmployees_withoutDuplicates.csv',date_format='%Y-%m-%d',index=False)  # file of data, without duplicates

In [490]:
df_emp=pd.read_csv('BanksEmployees_withoutDuplicates.csv')    # a file to update with new data
df_emp.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)

### Function to combine the available data with new quarterly report

In [491]:
def add_employ(newReportFile):
    df_new=group_data(newReportFile,f_employ3)      # importing and cleanning data
    #df_new1=df_new.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df_emp=pd.read_csv('BanksEmployees.csv')        # importing old data before combining with new data
    df=pd.concat([df_emp,df_new],join='inner')
    df.Date=df.Date.tolist()
    df=df.drop_duplicates(subset=['Date','Banks']) # droping duplicated data, by Date and Banks
    df.to_csv('BanksEmployees.csv',date_format='%Y-%m-%d',index=False)
    return df

In [495]:
 add_employ('trim_1_2016.xls') # a test of the function

                     Date  Banks Indicator
0              2014-12-01    BNC     647.0
1              2015-03-01    BNC     638.0
2              2015-06-01    BNC     636.0
3              2015-09-01    BNC     623.0
4              2015-12-01    BNC     704.0
...                   ...    ...       ...
1045  2014-12-01 00:00:00  TOTAL      4288
1046  2015-03-01 00:00:00  TOTAL      4311
1047  2015-06-01 00:00:00  TOTAL      4337
1048  2015-09-01 00:00:00  TOTAL      4377
1049  2015-12-01 00:00:00  TOTAL      4521

[2900 rows x 3 columns]

# 3- BALANCE SHEET DATA: importing and cleanning data

In [105]:
def f_balsheet(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    if len(year_true)==1:
        year_true='0'+year_true
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
   
    # Give names to columns
    def startswith_InList(x,starts): # to verify if there is at least an element of the list of 
    # strings x, starting with the string indicated by starts
        y=[]
        for i in range(0,len(x)):
            if str(x[i]).startswith(starts):
                y=True
                break
        if y==True:
            return True
        else:
            return False
    
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            y=[];z=[];
            for i in range(0,(df.shape[0]-1)):
                #if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                if startswith_InList(df.loc[i:(i+1),:].values.tolist()[0],'BNC')==True:
                    y=df.loc[i:(i+1),:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Indicators']+y[1:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,:] # begin data frame with row z
            return df
    df=col_names(df)
    
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=df[df.Indicators=='Dépôts US convertis'].index[0] # finding the index number of row to stop the data frame
    df=df.loc[:endrow_data,:]
    
    #### Adding a column of date indicating the end of the quarterly ###
    # series to define each quarterly last month
    Sdate=pd.Series([3,6,9,12],index=[2,3,4,1]) # [3,6,9,12] is the list of the number of the last months of the quarterlies
    year_quarter=x.split('.')[0][-4:]
    year_quarter=pd.Series([year_quarter,year_quarter,year_quarter,str(int(year_quarter)-1)],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true1=year_quarter[trim]
    
    date=year_true1+'-'+str(Sdate[trim])+'-'+'01'
    date=datetime.strptime(date,'%Y-%m-%d')
    df['Date']=date
    df.insert(0,'Date',df.pop('Date'))     # relocate "Date" as the first column
    df=df.drop('index',axis=1)# remove column 'index' which we do not need
    df=df.drop('SOUS-TOTAL',axis=1)# remove column 'index' which we do not need
    
    # some row containing subtotals of some parts of the balance sheet do not have an indicaotr name in the Indicators column.
    # some have a NaN value and some other are either empty or have space(s)
    def isNaN(x): # function to identify NaN - Thanks to https://www.codespeedy.com/check-if-a-given-string-is-nan-in-python/
        return x != x

    df=df[isNaN(df.Indicators)==False]  # removing row of data not identified. They are subtotal and total
    
    #remove row where Indicators column as no value
    def f_removeSpacesInList2(x):
        y=[]
        for i in x:
            y.append(i.strip())
        return y
    
    df.Indicators=f_removeSpacesInList2(df.Indicators) # remove all spaces in Indicators columns
    df=df[df.Indicators!='']
    df=df.reset_index()
    return df

In [296]:
#f_balsheet('trim_1_2019.xls')
' ab g; '.strip()

'ab g;'

In [233]:
def f_balsheet2(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
      # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=[]
    for i in range(0,df.shape[0]):
        if 'Dépôts US convertis' in df.loc[i:i,:].values.tolist()[0]:
            endrow_data=i
    df=df.loc[:endrow_data,:]   
    
    # Give names to columns
    def startswith_InList(x,starts): # to verify if there is at least an element of the list of 
    # strings x, starting with the string indicated by starts
        y=[]
        for i in range(0,len(x)):
            if type(x[i])==str and x[i].startswith(starts):
                y=True
                break
        if y==True:
            return True
        else:
            return False
    
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            #y=[];
            z=[]
            for i in range(0,(df.shape[0]-1)):
                #if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                if startswith_InList(df.loc[i:i,:].values.tolist()[0],'BNC')==True:
                    y=df.loc[i:i,:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            #df.columns=['Indicators']+y[1:]#df_employ.columns[1:].tolist()
            #df=df.iloc[z:,:] # begin data frame with row z
            return y    
    df=col_names(df)
    
    

    return df#.loc[5:5,:].values.tolist()[0]

In [236]:
f_balsheet2('trim_1_2005.xls')

IndexError: list index out of range

In [264]:
def f_balsheet3(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    if len(year_true)==1:
        year_true='0'+year_true # for years 2001, 2002 and so on, year_true is a string of the last number. This line of code correct it to have zero and the last number of the year.
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
    
      # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=[]
    for i in range(0,df.shape[0]):
        if 'Dépôts US convertis' in df.loc[i:i,:].values.tolist()[0]:
            endrow_data=i
    df=df.loc[:endrow_data,:] 
    
    # Give names to columns
    def startswith_InList(x,starts): # to verify if there is at least an element of the list of 
    # strings x, starting with the string indicated by starts
        y=[]
        for i in range(0,len(x)):
            if type(x[i])==str and x[i].startswith(starts):
                y=True
                break
        if y==True:
            return True
        else:
            return False
    
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            #y=[];
            z=[]
            for i in range(0,(df.shape[0]-1)):
                #if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                if startswith_InList(df.loc[i:i,:].values.tolist()[0],'BNC')==True:
                    y=df.loc[i:i,:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Index','Indicators']+y[2:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,1:] # begin data frame with row z and column of indicators names
            return df
    
    df=col_names(df)
    
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    return df

In [384]:
f_balsheet3('trim_1_2005.xls')#.tail()
#do.shape,f_balsheet('trim_2_2001.xls').shape # not all the data frame have the same dimension#

,Indicators,BICH,BNC,BPH,BUH,CAPITALBK,PROMOBK,SOCABK,SOGEBK,UNIBNK,...,SOGEBL,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,CBNA,SCOTIA,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,TOTAL
8,Encaisse,610.7,575139,81233.5,303453,178341,128619,278737.5,791999.1,779461.8,...,38122.2,3117594.6,52117.8,81574,18283,63291,3117594.6,52117.8,81574,3251286.4
9,Avoirs à la BRH,2061.3,1656540,392137.3,459807,751046,745945,1621878.1,4338799,4275348.5,...,301852.5,14243562.2,383288.2,1027928,465567,562361,14243562.2,383288.2,1027928,15654778.4
10,Avoirs à l'étranger,935.6,56286,110968.4,107795,180485,502771,194290.1,-77254.7,1130863.6,...,6942.2,2207140,6942.2,318970,0,318970,2207140,6942.2,318970,2533052.2
11,Avoirs dans les banques locales,0,0,0,24203,7483,18065,51289.4,48843.4,133068.6,...,780787.7,282952.4,788899.5,0,0,0,282952.4,788899.5,0,1071851.9
12,Autres liquidités,146.5,118690,3478.2,3564,57122,22892,97256.7,243008.5,79256.4,...,17062.8,625414.3,18633.2,78619,40879,37740,625414.3,18633.2,78619,722666.5
13,NaN,3754.1,2406655,587817.4,898822,1174477,1418292,2243451.8,5345395.3,6397998.9,...,1144767.4,20476663.5,1249880.9,1507091,524729,982362,20476663.5,1249880.9,1507091,23233635.4
15,Bons B.R.H.,0,1513390,33710,116220,59462,0,14480,1402800,366690,...,0,3506752,0,37245,34779,2466,3506752,0,37245,3543997
16,Autres Placements,0,333211,70431.2,167751,241914,16106,320673.9,3549748.3,2424622.6,...,15164.8,7124458,15164.8,0,0,0,7124458,15164.8,0,7139622.8
17,Portefeuille net,1800.3,485982,317343.9,662495,1126121,1502913,3157938.3,3561205.5,4066754.8,...,643631.4,14882553.8,763130.1,1802791,1049298,753493,14882553.8,763130.1,1802791,17448474.9
18,Immobilisations,521.8,241545,52366.7,374873,203924,173323,372695.2,746568.7,511740.7,...,48802.7,2677558.1,63249.1,108241,41299,66942,2677558.1,63249.1,108241,2849048.2
19,Autres actifs,2394.8,54879,105871.2,111229,67250,52497,550622.6,588417,316908.1,...,34599,1850068.7,99871.7,618011,585651,32360,1850068.7,99871.7,618011,2567951.4
20,,8471,5035662,1167540.4,2331390,2873148,3163131,6659861.8,15194134.8,14084715.1,...,1886965.3,50518054.1,2191296.6,4073379,2235756,1837623,50518054.1,2191296.6,4073379,56782729.7
24,À vue,246,982707,267588.8,347611,935609,906856,851317.5,4002004,3517460.2,...,249219.3,11811399.5,251899,1119610,713820,405790,11811399.5,251899,1119610,13182908.5
25,Épargne,2625.9,1997798,195213.3,1213104,677620,876424,1902742,5718369.4,5831373.7,...,263376.9,18415270.3,300102.8,968812,205681,763131,18415270.3,300102.8,968812,19684185.1
26,À terme,0,764767,283656.3,409501,793394,968534,3302933.8,4153691.4,3412850.1,...,1009807.4,14089327.6,1197374.8,1012803,529827,482976,14089327.6,1197374.8,1012803,16299505.4
27,NaN,2871.9,3745272,746458.4,1970216,2406623,2751814,6056993.3,13874064.8,12761684,...,1522403.6,44315997.4,1749376.6,3101225,1449328,1651897,44315997.4,1749376.6,3101225,49166599
30,Banques locales,0,3000,0,0,0,0,0,0,0,...,0,3000,36056.2,290555,290555,0,3000,36056.2,290555,329611.2
31,Banques à l'étranger,0,0,0,0,0,0,132264.2,0,0,...,0,132264.2,0,0,0,0,132264.2,0,0,132264.2
32,Autres,708.7,537047,295701,104092,195778,77611,59117.6,330556.2,323452.1,...,41201.8,1924063.6,54632.7,238693,135218,103475,1924063.6,54632.7,238693,2217389.3
33,NaN,708.7,540047,295701,104092,195778,77611,191381.8,330556.2,323452.1,...,41201.8,2059327.8,90688.9,529248,425773,103475,2059327.8,90688.9,529248,2679264.7
36,Banques locales,0,0,0,0,0,50000,37231.8,0,0,...,148927.2,87231.8,148927.2,0,0,0,87231.8,148927.2,0,236159
37,Banque à l'étranger,0,0,0,0,0,0,0,0,70740.4,...,0,70740.4,0,0,0,0,70740.4,0,0,70740.4
38,Autres,0,250945,23882.6,2501,44180,119837,28408,91316.6,53622.8,...,18762.1,614693,18762.1,194187,172293,21894,614693,18762.1,194187,827642.1
39,NaN,0,250945,23882.6,2501,44180,169837,65639.8,91316.6,124363.2,...,167689.3,772665.2,167689.3,194187,172293,21894,772665.2,167689.3,194187,1134541.5
41,Autres passifs,0,11296,55742.3,168184,27628,9540,31914.4,290701.3,233895.8,...,0,828901.8,0,30655,30590,65,828901.8,0,30655,859556.8
42,NaN,3580.6,4547560,1121784.3,2244993,2674209,3008802,6345929.3,14586638.9,13443395.1,...,1731294.7,47976892.2,2007754.8,3855315,2077984,1777331,47976892.2,2007754.8,3855315,53839962
45,Capital versé,5000,25000,5000,37575,88242,61600,190878.7,300000,199809,...,75000,913104.7,125890,138209,103837,34372,913104.7,125890,138209,1177203.7
46,Réserves,251.6,59623,2500,33614,57327,12434,13500,60864.6,149070.6,...,7477.2,389184.8,7477.2,70036,51919,18117,389184.8,7477.2,70036,466698.0
47,Surplus d'apport,0,0,0,13405,-1090,33787,0,286.3,2629.1,...,0,49017.4,0,15061,0,15061,49017.4,0,15061,64078.4
48,BNR,-361.2,403479,38256.1,1803,54460,46508,109553.8,246345,289811.3,...,73193.4,1189855,50174.6,-5242,2016,-7258,1189855,50174.6,-5242,1234787.6
49,,4890.4,488102,45756.1,86397,198939,154329,313932.5,607495.9,641320,...,155670.6,2541161.9,183541.8,218064,157772,60292,2541161.9,183541.8,218064,2942767.7
50,,8471,5035662,1167540.4,2331390,2873148,3163131,6659861.8,15194134.8,14084715.1,...,1886965.3,50518054.1,2191296.6,4073379,2235756,1837623,50518054.1,2191296.6,4073379,56782729.7
54,Effets à l'encaissement,0,0,0,0,0,2678,0,111211.5,2978.1,...,0,116867.6,0,26608,26608,0,116867.6,0,26608,143475.6
55,Crédit documentaire,0,135028,0,0,0,18958,45578,170197.8,423134,...,0,792895.8,0,68065,12091,55974,792895.8,0,68065,860960.8
56,Autres,0,41429,44602.8,18752,351847,200364,36680.3,672904.3,416823.4,...,194613.7,1783402.8,201543.7,130905,102843,28062,1783402.8,201543.7,130905,2115851.5
58,Portefeuille brut,1800.3,609298,441491.7,707050,1150231,1606718,3280944.8,3829405.8,4220400.3,...,683314.3,15847339.9,812548,1953298,1107644,845654,15847339.9,812548,1953298,18613185.9
59,Provisions pour créances douteuses,0,123316,124147.8,44555,24110,103805,123006.5,268200.3,153645.5,...,39682.9,964786.1,49417.9,150507,58346,92161,964786.1,49417.9,150507,1164711
60,Portefeuille de crédit improductif,0,91441,104465.5,78815,26669,197910,177052,385193,51432.6,...,101264.2,1112978.1,109004.2,316721,14442,302279,1112978.1,109004.2,316721,1538703.3
66,Dépôts US convertis,0,699039,243368.5,562153,1354908,1528348,2725126.6,7308233.2,7035567.5,...,943400,21456743.8,1170373,1386980,957756,429224,21456743.8,1170373,1386980,24014096.8

(31, 17)

In [275]:
#f_balsheet('trim_2_2018.xls')['Indicators']
indic=['Cash','Assets at the central bank','Assets abroad','Assets in local banks','Other liquid assets',np.nan,'Central bank bills','Treasury bills','Other investments','Net loan portfolio','fixed assets','other assets', np.nan,'Check accounts deposits',
 'Saving deposits','Term deposit',' ','Bonds in local banks','Bonds in banks abroad','Other bonds','Term bonds in local banks',
 "Term bonds in Bank abroad",'Others term bonds','Other liabilities','TO HAVE SHAREHOLDERS','Paid-up capital','Reservations','Reserves (Prov. For Loan Losses)','Contributed surplus','BNR']

In [271]:
do1=f_balsheet3('trim_2_2001.xls')
do2=f_balsheet3('trim_2_2018.xls')

In [301]:
do1.Indicators.tolist()[1].strip().lower()

AttributeError: 'str' object has no attribute 'unicode'

In [274]:
dodo={

(40, 30)

In [593]:
datetime.strptime('2015-3-01','%Y-%m-%d')

datetime.datetime(2015, 3, 1, 0, 0)

In [182]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\diaraye\anaconda3b\lib\site-packages (1.2.0)Note: you may need to restart the kernel to use updated packages.

In [188]:
'A lui. Il faut'.lower()

'a lui. il faut'

In [184]:
unidecode('à lui, Haïti fait ça et être entré et entè')

'a lui, Haiti fait ca et etre entre et ente'

In [109]:
# remove accent and lowercase of strings
def lower_removeAccentSpace(x):
    return unidecode(x).lower().strip()
lower_removeAccentSpace("  A, c'est bie à lui, Haïti fait ça et être entré et entè  ")

"a, c'est bie a lui, haiti fait ca et etre entre et ente"

In [108]:
from math import nan, isnan

In [355]:
indicat=[unidecode(x.strip().lower()) for x in do2.Indicators.tolist() if type(x)==str]
indicat=[x for x in indicat if x!='']
indicat

['encaisse',
 'avoirs a la brh',
 "avoirs a l'etranger",
 'avoirs dans les banques locales',
 'autres liquidites',
 'bons b.r.h.',
 'bons du tresor / m.e.f.',
 'autres placements',
 'portefeuille net',
 'immobilisations',
 'autres actifs',
 'a vue',
 'epargne',
 'a terme',
 'banques locales',
 "banques a l'etranger",
 'autres',
 'banques locales',
 "banque a l'etranger",
 'autres',
 'autres passifs',
 'capital verse',
 'reserves',
 'reserves (prov. pour pertes sur prets)',
 "surplus d'apport",
 'bnr',
 "effets a l'encaissement",
 'credit documentaire',
 'autres',
 'portefeuille brut',
 'provisions pour creances douteuses',
 'portefeuille de credit improductif',
 'depots us convertis']

In [362]:
zo=['a','b','a','c','d','e','d','f']

In [383]:

for j in set(zo):
    y=[]
    for i in range(0,len(zo)):
        if zo[i]==j:
            y.append(1)
    print(np.sum(y))

1
2
2
1
1
1

In [367]:
set(zo)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [356]:
len(indicat)

33

In [347]:
do1.Indicators.tolist()

['         Encaisse',
 '         Avoirs à la BRH',
 "         Avoirs à l'étranger",
 '         Avoirs dans les banques locales',
 '         Autres liquidités',
 nan,
 '   Bons B.R.H.',
 '   Autres Placements',
 '   Portefeuille net ',
 '   Immobilisations',
 '   Autres actifs',
 '  ',
 '       À vue',
 '       Épargne',
 '       À terme',
 nan,
 '      Banques locales',
 "      Banques à l'étranger",
 '      Autres',
 nan,
 '      Banques locales',
 "      Banque à l'étranger",
 '      Autres',
 nan,
 '   Autres passifs',
 nan,
 '   Capital versé',
 '   Réserves',
 "   Surplus d'apport ",
 '   BNR',
 '  ',
 ' ',
 "   Effets à l'encaissement",
 '   Crédit documentaire',
 '   Autres',
 '   Portefeuille brut',
 '   Provisions pour créances douteuses',
 '   Portefeuille de crédit improductif',
 nan,
 'Dépôts US convertis']

In [284]:
dict(zip(['a','b'],['er','gd']))

{'a': 'er', 'b': 'gd'}

In [348]:
lower_removeAccents(do1.Indicators.tolist()[0])

'         encaisse'

In [27]:
def f_balsheet4(x): # function to import and clean data
    
    # looking for the right sheet name of balance sheet for the quarterly which is the name of the Excel file
    df=pd.ExcelFile(x)
    sheets=df.sheet_names
    def f_removeSpacesInList(x): # funtion to remove spaces in each string of a list
        y=[]
        for i in x:
            y.append(i.replace(' ',''))
        return y
    sheets1=f_removeSpacesInList(sheets)   # removing spaces in each sheet name to identify the position of the sheet name needed easily
    # for there is a space between the month abbreviation and the two last numbers of the years in some reports, and this space is not present in other reports.
    Strim=pd.Series([1,1,2,2,3,4,4],index=['dec.','déc.','mars','nars','juin','sept.','sept']) # serie to build report name
    # looking for the right sheet name of the balance sheet for the quarterly
    trim=int(x.split('.')[0][5])
    year=x.split('.')[0][-2:]
    year_quarter=pd.Series([year[-2:],year[-2:],year[-2:],str(int(year)-1)[-2:]],index=[2,3,4,1]) # to identify the year, 
    # remembering that when quarter= 1 for year 2015 is the quarter ending on December of the last civil year, then December 2014
    year_true=year_quarter[trim]
    if len(year_true)==1:
        year_true='0'+year_true # for years 2001, 2002 and so on, year_true is a string of the last number. This line of code correct it to have zero and the last number of the year.
    z=[] # last month of quarterly - The first quarterly start on October and end in December, according to the fiscal year in Haiti
    for i in range(0,len(Strim)):
        if Strim[i]==trim:
            z.append(Strim.index[i])
    
    psn=[] # possible sheet name(s) of the balance sheet 
    for i in z:
        psn.append('bilsysban'+i+year_true)
        psn.append('bilsysba'+i+year_true)  # at least in one report the correct sheet name structure is different
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    # looks for the name of of psn which is in sheet1 and use the same position index of this name in sheet1 to retrieve the right name in the list of sheets
    sheetName=[]
    for position in range(0,len(sheets1)):
        for sh_name in psn:
            if sh_name==sheets1[position]:
                sheetName.append(sheets[position])
    df=pd.read_excel(x,sheet_name=sheetName[0])
    
      # stop the data frame at row where is found the string "Dépôts US convertis".
    df=df.reset_index()
    endrow_data=[]
    for i in range(0,df.shape[0]):
        if 'Dépôts US convertis' in df.loc[i:i,:].values.tolist()[0]:
            endrow_data=i
    df=df.loc[:endrow_data,:] 
    
    # Give names to columns
    def startswith_InList(x,starts): # to verify if there is at least an element of the list of 
    # strings x, starting with the string indicated by starts
        y=[]
        for i in range(0,len(x)):
            if type(x[i])==str and x[i].startswith(starts):
                y=True
                break
        if y==True:
            return True
        else:
            return False
    
    def col_names(df): # look for the number of line with the names of the banks to be columns names
            #y=[];
            z=[]
            for i in range(0,(df.shape[0]-1)):
                #if 'BNC  ' in df.loc[i:(i+1),:].values.tolist()[0]:
                if startswith_InList(df.loc[i:i,:].values.tolist()[0],'BNC')==True:
                    y=df.loc[i:i,:].values.tolist()[0]
                    z=i+1    # defining row to start data frame
                    #break
            # add Date as name of column with the dates
            df.columns=['Index','Indicators']+y[2:]#df_employ.columns[1:].tolist()
            df=df.iloc[z:,1:] # begin data frame with row z and column of indicators names
            return df
    
    df=col_names(df)
      
    # remove columns where names are NaN
    jj=[ type(i)!=float for i in df.columns.values]
    df=df[df.columns.values[jj]]
    ####
     #####
    def lower_removeAccentSpacelist(x):# function to lower case and remove accents 
        # and spaces in indicators names - x is a list
        y=[]
        for i in range(0,len(x)):
            y.append(unidecode(str(x[i])).lower().strip())
        return y
    df.Indicators=lower_removeAccentSpacelist(df.Indicators.tolist())
    
    ### Create a column indicating bilance sheets parts
    def balsheet_parts(x,parts1):
    
        def f_grouped1(x,start,until,fill):# x is a list
                h=[]
                for i in range(0,len(x)):
                    if x[i]==start:#lower_removeAccentSpace(i)!=until:
                        for j in range(i,len(x)):
                            if x[j]!=until:
                                h.append(fill)
                            if x[j]==until:
                                break
                return h
        y=[]
        for j in range(0,len(parts1)):
                if (j+1)<len(parts1):
                    y.append(f_grouped1(x=x,start=parts1[j],until=parts1[j+1],fill=parts1[j]))
                elif (j+1)==len(parts1):
                    y.append(f_grouped1(x=x,start=parts1[j],until='',fill=parts1[j]))

        z=[]
        for i in range(0,len(y)):
            for j in range(0,len(y[i])):
                z.append(y[i][j]) 
        return z
    df['Parts1_fr']=balsheet_parts(df.Indicators.tolist(),parts1=['actif','passif','avoir des actionnaires','hors-bilan',
                          'portefeuille brut','depots us convertis'])

    df['Parts2_fr']=balsheet_parts(df.Indicators.tolist(),parts1=['actif','disponibilites',
                              'bons b.r.h.','depots', 'obligations a vue','obligations a terme',
 'autres passifs','avoir des actionnaires','hors-bilan','portefeuille brut',
 'depots us convertis'])
    def fparts2_en(): # translation in English
        y=[]
        for i in df.Parts2_fr.tolist():
            if i=='actif':
                y.append('Liquid asset')
            elif i=='disponibilites':
                y.append('Liquid asset')
            elif i=='bons b.r.h.':
                y.append('Non-liquid asset')
            elif i=='depots':
                y.append('Deposit')
            elif i=='obligations a vue':
                y.append('Demand bonds')
            elif i=='obligations a terme':
                y.append('Term bonds')
            elif i=='autres passifs':
                y.append('Other liabilities')
            elif i=='avoir des actionnaires':
                y.append('Equity')
            elif i=='hors-bilan':
                y.append('Off-balance sheet')
            elif i=='portefeuille brut':
                y.append('Loan portfolio')
            elif i=='depots us convertis':
                y.append('Deposit in US converted in HTG')
        return y
    df['Parts2_en']=fparts2_en() # write parts2 elements in English
    
    def fparts2_fr(): # rewrite, with uppercase and accents parts2_fr elements
        y=[]
        for i in df.Parts2_fr.tolist():
            if i=='actif':
                y.append('Actif liquide')
            elif i=='disponibilites':
                y.append('Actif liquide')
            elif i=='bons b.r.h.':
                y.append('Actif illiquide')
            elif i=='depots':
                y.append('Dépôt')
            elif i=='obligations a vue':
                y.append('Obligations à vue')
            elif i=='obligations a terme':
                y.append('Obligations à terme')
            elif i=='autres passifs':
                y.append('Autres passifs')
            elif i=='avoir des actionnaires':
                y.append('Fonds propres')
            elif i=='hors-bilan':
                y.append('Hors-bilan')
            elif i=='portefeuille brut':
                y.append('Portefeuille de crédit')
            elif i=='depots us convertis':
                y.append('Dépôts en USD convertis en HTG')
        return y
    df['Parts2_fr']=fparts2_fr()
    
    def fparts1_fr(): # rewrite, with uppercase and accents parts2_fr elements
        y=[]
        for i in df.Parts1_fr.tolist():
            if i=='actif':
                y.append('Actif')
            elif i=='passif':
                y.append('Passif')
            elif i=='avoir des actionnaires':
                y.append('Fonds propres')
            elif i=='hors-bilan':
                y.append('Hors-bilan')
            elif i=='portefeuille brut':
                y.append('Portefeuille de crédit')
            elif i=='depots us convertis':
                y.append('Dépôts en USD convertis en HTG')
        return y
    df['Parts1_fr']=fparts1_fr()
    
    # remove all rows where there is at least 10 NaN
    df=df.dropna(axis=0,thresh=10)
    
    # change column of bilance sheet parts of position
    
    return df

In [29]:
da=f_balsheet4('trim_1_2019.xls')
da.head()

,Indicators,BNC,BPH,BUH,CAPITALBK,SOGEBK,UNIBNK,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,...,SOUS-TOTAL,SOUS-TOTAL,CBNA,SOUS-TOTAL,SOUS-TOTAL,SOUS-TOTAL,SYSTÈME,Parts1_fr,Parts2_fr,Parts2_en
8,encaisse,9033083,171789.12006,936195.522993,711643,2934600.81261,2225294.766949,16012606.222612,43873.57762,102454,...,43873.57762,102454,102454,16012606.222612,43873.57762,102454,16158933.800232,Actif,Actif liquide,Liquid asset
9,avoirs a la brh,18577168,1036059.12276,6812077.946619,8442509,32351838.14929,43418814.641494,110638466.860163,1373337.94816,4980375,...,1373337.94816,4980375,4980375,110638466.860163,1373337.94816,4980375,116992179.808323,Actif,Actif liquide,Liquid asset
10,avoirs a l'etranger,1535542,420285.21962,809536.142442,2748317,3482506.07808,5764792.633714,14760979.073856,0,1059358,...,0,1059358,1059358,14760979.073856,0,1059358,15820337.073856,Actif,Actif liquide,Liquid asset
11,avoirs dans les banques locales,0,0,20381.146093,2113,7509.36567,-0.0,30003.511763,114547.79958,0,...,114547.79958,0,0,30003.511763,114547.79958,0,144551.311343,Actif,Actif liquide,Liquid asset
12,autres liquidites,629530,83326.0472,5534.282145,235475,174819.34513,1040449.481226,2169134.155702,18128.01823,53830,...,18128.01823,53830,53830,2169134.155702,18128.01823,53830,2241092.173932,Actif,Actif liquide,Liquid asset